@charset "UTF-8";
@font-face {
  font-family: "PT BeauSans Pro";
  src: url("../fonts/custom/pfbeausanspro-regular-webfont.woff2"); }

@font-face {
  font-family: "PT BeauSans Pro Bold";
  src: url("../fonts/custom/pfbeausanspro-bold-webfont.woff2"); }

@font-face {
  font-family: "PT BeauSans Pro Light";
  src: url("../fonts/custom/pfbeausanspro-light-webfont.woff2"); }

@font-face {
  font-family: "PT BeauSans Pro Semibold";
  src: url("../fonts/custom/pfbeausanspro-semibold-webfont.woff"); }

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/custom/GothamProMedium.ttf"); }

* {
  outline: 1px solid red; }

body {
  overflow-x: hidden; }

a.link {
  color: #333333;
  border-bottom: 1px solid #ccc;
  word-break: break-word; }
  a.link:hover {
    border-color: #333333;
    text-decoration: none;
    color: #333333; }
  a.link--orange {
    color: #ff8527;
    border-bottom: 1px solid #ffdbc0; }
    a.link--orange:hover {
      border-color: #ff8527;
      color: #ff8527; }

p {
  word-break: break-word; }

.header {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 132px;
  position: relative;
  z-index: 1; }

.logo-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-right: 16px; }

.logo-name {
  display: inline-block;
  color: #000;
  line-height: 18px;
  font-family: 'Gotham Pro Medium'; }

.header-text-lines, .header-phone, .header-mail {
  line-height: 20px;
  display: block; }

.two-line-text {
  text-align: left;
  display: inline-block; }

.header-phone, .header-mail {
  color: #000; }

.header-callback-form-btn {
  border-bottom: 1px dashed; }
  .header-callback-form-btn:hover {
    text-decoration: none; }

.lk-link {
  font-family: 'PT BeauSans Pro Semibold';
  position: relative;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block; }
  .lk-link::before {
    position: absolute;
    top: 2px;
    left: -28px;
    content: '';
    width: 15px;
    height: 15px;
    background: url("data:image/svg+xml;utf8, <svg version='1.1' fill='#ff8527' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 563.43 563.43' style='enable-background:new 0 0 563.43 563.43;' xml:space='preserve'><path d='M280.79,314.559c83.266,0,150.803-67.538,150.803-150.803S364.055,13.415,280.79,13.415S129.987,80.953,129.987,163.756 S197.524,314.559,280.79,314.559z M280.79,52.735c61.061,0,111.021,49.959,111.021,111.021S341.851,274.776,280.79,274.776 s-111.021-49.959-111.021-111.021S219.728,52.735,280.79,52.735z'/><path d='M19.891,550.015h523.648c11.102,0,19.891-8.789,19.891-19.891c0-104.082-84.653-189.198-189.198-189.198H189.198 C85.116,340.926,0,425.579,0,530.124C0,541.226,8.789,550.015,19.891,550.015z M189.198,380.708h185.034 c75.864,0,138.313,56.436,148.028,129.524H41.17C50.884,437.607,113.334,380.708,189.198,380.708z'/></svg>"); }

.hello-bar-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px; }

.hello-bar {
  border-radius: 10px;
  background-color: #ff8527;
  -webkit-box-shadow: 0px 0px 28.5px 1.5px rgba(255, 133, 39, 0.1);
  box-shadow: 0px 0px 28.5px 1.5px rgba(255, 133, 39, 0.1);
  height: 70px;
  padding: 11px 15px; }

.navbar-default {
  background: none;
  border: none;
  outline: 0;
  margin-bottom: unset;
  min-height: unset; }

.navbar-default .navbar-nav > li > a {
  font-family: 'PT BeauSans Pro Semibold';
  font-size: 16px;
  color: #fff; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    text-decoration: underline;
    color: #fff; }

.navbar-nav > li {
  outline: 0; }

.nav > li > a {
  padding-left: 23px;
  padding-right: 23px; }

.nav > li:first-child {
  padding-left: 0; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: underline; }

.arrow-to-bottom {
  display: inline-block;
  width: 0;
  height: 13px;
  margin-left: 4px;
  vertical-align: middle;
  margin-right: 14px;
  font-weight: 600; }

.header-get-el-signature {
  font-family: 'PT BeauSans Pro Semibold';
  float: right;
  font-size: 14px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 22px 8px 22px;
  border: 2px solid #f7f7fa;
  border-radius: 8px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 3px; }
  .header-get-el-signature:hover, .header-get-el-signature:focus, .header-get-el-signature:active {
    border-color: #f7f7fa;
    background-color: #f7f7fa;
    color: #ff8527;
    -webkit-transition: .3s;
    transition: .3s;
    outline: 0; }
  .header-get-el-signature:active:hover, .header-get-el-signature:active:focus {
    border-color: #f7f7fa;
    outline: 0;
    background-color: #f7f7fa;
    color: #ff8527; }

.section-content {
  margin: 40px 0; }

.offer-slider-wrapper {
  background-color: #000; }
  .offer-slider-wrapper .controls-wrapper {
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%; }
    .offer-slider-wrapper .controls-wrapper .controls {
      position: relative;
      max-width: 1790px;
      width: 90%;
      margin: auto; }
      .offer-slider-wrapper .controls-wrapper .controls a {
        position: absolute;
        top: 0;
        width: 70px;
        height: 70px;
        border: dashed 1px #bbb;
        border-radius: 50%; }
        .offer-slider-wrapper .controls-wrapper .controls a:after {
          content: "";
          position: absolute;
          top: 24px;
          left: 23px;
          display: block;
          width: 23px;
          height: 20px;
          background: url('data:image/svg+xml;utf8, <svg version="1.1" fill="#bbb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/></g></svg>');
          background-repeat: no-repeat; }
        .offer-slider-wrapper .controls-wrapper .controls a.carousel-control-prev {
          left: 0; }
        .offer-slider-wrapper .controls-wrapper .controls a.carousel-control-next {
          right: 0; }
          .offer-slider-wrapper .controls-wrapper .controls a.carousel-control-next:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .offer-slider-wrapper .carousel-inner {
    height: 400px; }
    .offer-slider-wrapper .carousel-inner .item {
      height: 100%; }
      .offer-slider-wrapper .carousel-inner .item .info-background {
        height: 100%;
        background-size: cover;
        background-position: center; }
        .offer-slider-wrapper .carousel-inner .item .info-background:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          opacity: .5; }
      .offer-slider-wrapper .carousel-inner .item:nth-child(1) .info-background {
        background-image: url("../images/slide1.jpg"); }
      .offer-slider-wrapper .carousel-inner .item:nth-child(2) .info-background {
        background-image: url("../images/slide2.jpg"); }
      .offer-slider-wrapper .carousel-inner .item:nth-child(3) .info-background {
        background-image: url("../images/slide3.jpg"); }
      .offer-slider-wrapper .carousel-inner .item:nth-child(4) .info-background {
        background-image: url("../images/slide4.jpg"); }
      .offer-slider-wrapper .carousel-inner .item .info-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff; }
        .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block {
          max-width: 1080px;
          width: 100%;
          height: 100%;
          margin: auto;
          background-image: url("../images/bg-cube.png");
          background-repeat: no-repeat;
          background-position: 60px 80%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          justify-items: center; }
          .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-block-img-wrapper {
            height: 345px;
            -ms-flex-item-align: end;
            align-self: flex-end;
            margin-left: 60px; }
          .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text {
            width: 525px;
            float: right;
            padding-top: 115px;
            margin-right: 70px;
            font-family: "PT BeauSans Pro Light";
            font-size: 28px;
            line-height: 1.5;
            z-index: 10; }
            .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text b {
              font-family: "PT BeauSans Pro Semibold"; }
            .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text ul {
              padding: 0; }
              .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text ul li {
                position: relative;
                list-style-type: none;
                font-size: 20px;
                padding-left: 27px;
                line-height: 1.2;
                padding-bottom: 8px; }
                .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text ul li:before {
                  content: "—";
                  position: absolute;
                  left: 0;
                  top: 0; }
            .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text .info-link {
              display: block;
              font-size: 18px;
              font-family: "PT BeauSans Pro";
              color: #fff;
              margin-top: 40px;
              padding-left: 30px;
              position: relative;
              line-height: 1.3;
              max-width: 350px; }
              .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text .info-link:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                margin-right: 10px;
                width: 20px;
                height: 90%;
                background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve"><path style="fill:#ff8527;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
                background-repeat: no-repeat;
                background-position: center; }

.section-directions {
  padding: 70px 0 60px; }
  .section-directions h2 {
    margin: 0 0 30px;
    font-size: 26px;
    line-height: 1.65;
    color: #333333; }
  .section-directions .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: solid 2px #e1e4ea;
    border-left: solid 2px #e1e4ea;
    margin: 0; }
    .section-directions .row > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .section-directions .direction {
    border-right: solid 2px #e1e4ea;
    border-bottom: solid 2px #e1e4ea;
    padding: 30px; }
    .section-directions .direction img {
      height: 60px; }
    .section-directions .direction .direction-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
      color: #ff8527;
      padding: 19px 0;
      max-width: 180px; }
    .section-directions .direction .direction-text {
      font-size: 16px;
      line-height: 1.5;
      color: #333333; }

.section-news {
  padding: 60px 0;
  background-color: #f2f0ed; }
  .section-news .news-head h2 {
    display: inline-block;
    margin: 0;
    font-size: 26px;
    line-height: 1.65;
    color: #333333;
    width: 110px; }
  .section-news .news-head .news-menu {
    display: inline-block;
    width: calc(100% - 110px);
    text-align: right; }
    .section-news .news-head .news-menu a {
      font-size: 16px;
      font-weight: 300;
      line-height: 2.69;
      color: #333333;
      margin-left: 40px; }
      .section-news .news-head .news-menu a.active {
        color: #ff672c; }
  .section-news .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-news .row > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .section-news .row .new {
      border-radius: 8px;
      background-color: #fff;
      margin: 15px 0;
      height: 100%;
      padding: 20px 22px;
      width: 100%; }
      .section-news .row .new .new-date {
        font-size: 14px;
        color: #9d9d9d; }
      .section-news .row .new .new-title {
        font-size: 16px;
        color: #333;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0 2px; }
      .section-news .row .new .new-text {
        font-size: 14px;
        line-height: 1.29;
        color: #666666; }
  .section-news .all-news {
    display: block;
    font-size: 16px;
    text-align: right;
    color: #333333;
    position: relative;
    padding-right: 15px;
    margin-top: 10px; }
    .section-news .all-news:after {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      position: absolute;
      right: 0;
      top: 7px;
      background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve"><g><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.section-partners {
  padding: 60px 0; }
  .section-partners h2 {
    display: inline-block;
    margin: 0;
    font-size: 26px;
    color: #333333; }
  .section-partners .partners-carousel {
    margin-top: 30px;
    position: relative; }
    .section-partners .partners-carousel .owl-nav {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%; }
      .section-partners .partners-carousel .owl-nav .owl-prev, .section-partners .partners-carousel .owl-nav .owl-next {
        content: "";
        position: absolute;
        top: 13px;
        left: -25px;
        display: block;
        width: 40px;
        height: 35px;
        background: url('data:image/svg+xml;utf8, <svg version="1.1" fill="#bbb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/></g></svg>');
        background-repeat: no-repeat;
        outline: none; }
      .section-partners .partners-carousel .owl-nav .owl-prev {
        left: unset;
        right: -25px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    .section-partners .partners-carousel .owl-item {
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .section-partners .partners-carousel img {
      width: auto;
      height: auto; }

footer {
  border-top: 1px solid #ddd;
  padding: 40px 0; }
  footer .footer-left {
    display: inline-block;
    vertical-align: top; }
    footer .footer-left .footer-logo .logo-name {
      font-size: 14px;
      line-height: 18px; }
    footer .footer-left .footer-copy {
      padding: 20px 0 50px;
      font-size: 14px;
      color: #000; }
    footer .footer-left .footer-social a {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      background-repeat: no-repeat;
      background-position: center; }
      footer .footer-left .footer-social a:last-child {
        margin-right: 0; }
      footer .footer-left .footer-social a.google {
        background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 315 315" style="enable-background:new 0 0 315 315; fill: #999;" xml:space="preserve"><g id="XMLID_510_"><path id="XMLID_511_" d="M307.5,136.892h-19.791V117.1c0-4.143-3.357-7.5-7.5-7.5h-26.717c-4.143,0-7.5,3.357-7.5,7.5v19.792h-19.791c-4.143,0-7.5,3.357-7.5,7.5v26.717c0,4.143,3.357,7.5,7.5,7.5h19.791v19.792c0,4.142,3.357,7.5,7.5,7.5h26.717c4.143,0,7.5-3.358,7.5-7.5v-19.792H307.5c4.143,0,7.5-3.357,7.5-7.5v-26.717C315,140.249,311.643,136.892,307.5,136.892z"/><path id="XMLID_512_" d="M101.906,104.16c9.088,0,17.823,2.45,25.274,7.087l8.513,5.825c2.967,2.03,6.958,1.671,9.514-0.861l24.828-24.596c1.589-1.574,2.392-3.774,2.191-6.001c-0.2-2.227-1.384-4.248-3.228-5.513l-14.43-9.896c-0.294-0.201-0.603-0.382-0.922-0.539l-13.979-6.902c-0.185-0.092-0.374-0.176-0.566-0.252c-12.042-4.754-24.729-7.165-37.708-7.165c-26.757,0-51.996,10.27-71.068,28.915c-19.367,18.934-30.137,44.681-30.323,72.499c-0.187,27.824,10.239,53.72,29.355,72.916c18.968,19.049,45.879,29.975,73.834,29.975c27.658,0,53.608-10.739,71.195-29.463c13.931-14.831,22.48-34.641,24.727-57.288c0.021-0.215,0.034-0.43,0.036-0.645l0.26-20.345c0.006-0.421-0.024-0.841-0.09-1.257l-1.09-6.953c-0.571-3.649-3.716-6.339-7.409-6.339h-86.672c-4.143,0-7.5,3.358-7.5,7.5v29.982c0,4.142,3.357,7.5,7.5,7.5h44.186c-2.025,4.439-5.216,9.12-9.251,13.482c-8.801,9.518-21.926,14.977-36.01,14.977c-14.383,0-28.157-5.636-37.79-15.462c-20.052-20.448-19.822-56.077,0.489-76.245C75.334,109.605,88.505,104.16,101.906,104.16z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); }
      footer .footer-left .footer-social a.twitter {
        background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612; fill: #999;" xml:space="preserve"><g><g><path style="fill:#999;" d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); }
      footer .footer-left .footer-social a.fb {
        background-image: url('data:image/svg+xml;iso-8859-1, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123; fill: #999;" xml:space="preserve"><g><path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
        background-size: 18px; }
      footer .footer-left .footer-social a.vk {
        background-image: url('data:image/svg+xml;utf8, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 304.36 304.36" style="enable-background:new 0 0 304.36 304.36; fill: #999;" xml:space="preserve"><g id="XMLID_1_"><path id="XMLID_807_" style="fill-rule:evenodd;clip-rule:evenodd;" d="M261.945,175.576c10.096,9.857,20.752,19.131,29.807,29.982c4,4.822,7.787,9.798,10.684,15.394c4.105,7.955,0.387,16.709-6.746,17.184l-44.34-0.02c-11.436,0.949-20.559-3.655-28.23-11.474c-6.139-6.253-11.824-12.908-17.727-19.372c-2.42-2.642-4.953-5.128-7.979-7.093c-6.053-3.929-11.307-2.726-14.766,3.587c-3.523,6.421-4.322,13.531-4.668,20.687c-0.475,10.441-3.631,13.186-14.119,13.664c-22.414,1.057-43.686-2.334-63.447-13.641c-17.422-9.968-30.932-24.04-42.691-39.971C34.828,153.482,17.295,119.395,1.537,84.353C-2.01,76.458,0.584,72.22,9.295,72.07c14.465-0.281,28.928-0.261,43.41-0.02c5.879,0.086,9.771,3.458,12.041,9.012c7.826,19.243,17.402,37.551,29.422,54.521c3.201,4.518,6.465,9.036,11.113,12.216c5.142,3.521,9.057,2.354,11.476-3.374c1.535-3.632,2.207-7.544,2.553-11.434c1.146-13.383,1.297-26.743-0.713-40.079c-1.234-8.323-5.922-13.711-14.227-15.286c-4.238-0.803-3.607-2.38-1.555-4.799c3.564-4.172,6.916-6.769,13.598-6.769h50.111c7.889,1.557,9.641,5.101,10.721,13.039l0.043,55.663c-0.086,3.073,1.535,12.192,7.07,14.226c4.43,1.448,7.35-2.096,10.008-4.905c11.998-12.734,20.561-27.783,28.211-43.366c3.395-6.852,6.314-13.968,9.143-21.078c2.096-5.276,5.385-7.872,11.328-7.757l48.229,0.043c1.43,0,2.877,0.021,4.262,0.258c8.127,1.385,10.354,4.881,7.844,12.817c-3.955,12.451-11.65,22.827-19.174,33.251c-8.043,11.129-16.645,21.877-24.621,33.072C252.26,161.544,252.842,166.697,261.945,175.576L261.945,175.576z M261.945,175.576"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); }
  footer .footer-menu {
    display: inline-block;
    vertical-align: top; }
    footer .footer-menu .footer-menu-item {
      display: inline-block;
      vertical-align: top;
      color: #333;
      padding: 0 20px 0 40px; }
      footer .footer-menu .footer-menu-item .footer-menu-title {
        font-size: 20px;
        line-height: 1;
        padding-bottom: 10px; }
      footer .footer-menu .footer-menu-item ul {
        padding: 0; }
        footer .footer-menu .footer-menu-item ul li {
          list-style: none;
          font-size: 14px;
          line-height: 1.86; }
          footer .footer-menu .footer-menu-item ul li a {
            color: #333333; }
            footer .footer-menu .footer-menu-item ul li a:hover {
              color: #333333; }

.section-hero {
  background-color: #f2f0ed;
  padding-top: 60px;
  padding-bottom: 25px; }

.breadcrumbs {
  font-size: 14px; }
  .breadcrumbs-item {
    color: #333333;
    position: relative; }
    .breadcrumbs-item:not(:first-child) {
      margin-left: 15px;
      padding-left: 18px; }
      .breadcrumbs-item:not(:first-child):before {
        content: '›';
        position: absolute;
        left: 3px;
        top: -2px;
        width: 8px;
        height: 8px; }
    .breadcrumbs-item:hover {
      color: #333333; }

.contacts-item {
  margin-bottom: 40px; }
  .contacts-item-heading, .feedback-form-heading, .services-heading {
    max-width: 90%;
    color: #2b6ec2;
    font-size: 20px;
    font-family: PT BeauSans Pro Semibold, sans-serif;
    line-height: 1.3; }
    .contacts-item-heading.central, .central.feedback-form-heading, .central.services-heading {
      margin-bottom: 36px; }
  .contacts-item-subheading {
    margin: 0;
    color: #2b6ec2; }
  .contacts-item-info {
    padding: 0;
    margin: 10px 0 10px 0;
    font-size: 16px;
    list-style-type: none; }
    .contacts-item-info li {
      margin: 0;
      margin-bottom: 8px; }
    .contacts-item-info-phone {
      color: #ff8527;
      font-weight: bold; }

.contacts-country-links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .contacts-country-links li {
    margin-bottom: 4px; }
    .contacts-country-links li a {
      border-color: #ffdbc0; }
      .contacts-country-links li a:hover {
        border-color: #ff8527; }

.contacts-map {
  margin-bottom: 40px; }

.feedback-form {
  padding: 15px 0; }
  .feedback-form-heading {
    margin-bottom: 20px; }

.btn-blank {
  background-color: #fff;
  border: 1px solid #2b6ec2;
  border-radius: 3px;
  color: #2b6ec2;
  padding: 6px 60px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .btn-blank:hover, .btn-blank:focus {
    background-color: #2b6ec2;
    color: #ffffff; }
  .btn-blank:active {
    background-color: #225698; }

.form-group {
  display: block;
  margin-bottom: 22px; }

.form-label {
  margin-top: 10px; }

.text-input, .textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px; }
  .text-input:focus, .textarea:focus {
    outline: none;
    border-color: #333333; }

.feedback-form-link {
  margin-bottom: 22px; }
  .feedback-form-link a {
    color: #ff8527;
    border-color: #ffdbc0; }
    .feedback-form-link a:hover {
      color: #ff8527;
      border-color: #ff8527; }

.arrow-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .arrow-list li {
    padding-left: 25px;
    position: relative;
    margin-top: 8px; }
    .arrow-list li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 20px;
      height: 16px;
      background-repeat: no-repeat;
      background-image: url("../images/svg/right-arrow.svg"); }

p {
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px; }

.services-heading {
  margin-top: 32px;
  margin-bottom: 20px; }
  .services-heading--level-1 {
    position: relative; }
    .services-heading--level-1:before {
      position: absolute;
      content: '';
      top: 50%;
      left: -100px;
      width: 68px;
      height: 1px;
      background-color: #2b6ec2; }
  .services-heading--level-2 {
    position: relative;
    padding-left: 92px; }
    .services-heading--level-2:before {
      position: absolute;
      content: '';
      top: 50%;
      left: -100px;
      width: 165px;
      height: 1px;
      background-color: #2b6ec2; }

.link-to-file {
  margin-left: 34px;
  position: relative; }
  .link-to-file:before {
    content: '';
    position: absolute;
    top: 0;
    left: -34px;
    width: 20px;
    height: 24px;
    background-image: url("../images/file-icon.png");
    background-repeat: no-repeat; }

.table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .table-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .table-cell {
    padding: 20px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    line-height: 24px; }
    .table-cell--btn {
      padding-top: 8px;
      padding-bottom: 8px; }
    .table-cell--bg {
      background-color: #f4f8fc; }
  .table-head {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    padding: 14px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 2px solid transparent;
    border-right: 2px solid #eee;
    font-family: PT BeauSans Pro Semibold, sans-serif;
    background-color: #2b6ec2;
    color: #ffffff; }
    .table-head:last-child {
      border-right: 2px solid transparent; }

.message-block {
  padding: 8px 0 0 14px;
  border-left: 2px solid #2b6ec2; }
  .message-block-heading {
    color: #ff8527;
    font-family: PT BeauSans Pro Semibold, sans-serif;
    position: relative;
    padding-left: 30px; }
    .message-block-heading:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url("../images/svg/warning.svg");
      background-repeat: no-repeat; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    footer .footer-left .footer-social {
      -ms-flex-item-align: center;
      align-self: center; }
    footer .footer-left .footer-copy {
      -ms-flex-item-align: center;
      align-self: center;
      padding: 0 20px; }
  footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .footer-menu .footer-menu-item {
      padding: 0; }
      footer .footer-menu .footer-menu-item:not(last-child) {
        margin-right: 10px; } }

.subtext {
  font-size: 14px;
  color: #666666; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .hello-bar-wrapper {
    bottom: -35px; }
  .lk-link {
    text-decoration: none;
    font-size: 0; }
    .lk-link:before {
      top: -6px;
      width: 26px;
      height: 26px; }
  .navbar-nav > li a {
    padding-left: 15px;
    padding-right: 15px; }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }
  .header-get-el-signature {
    font-size: 12px;
    padding-right: 8px;
    padding-left: 8px; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block img {
    left: 70px; }
  .owl-next {
    margin-left: 10px; }
  .owl-prev {
    margin-right: 10px; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: none; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-block-img-wrapper {
    display: none; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text {
    margin-right: 0; }
  .section-news .news-head .news-menu a {
    margin-left: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .logo {
    text-align: center;
    margin-bottom: 10px; }
    .logo-name {
      text-align: left; }
  .hello-bar-wrapper {
    bottom: -35px; }
  .two-line-text, .lk-link {
    margin-bottom: 25px; }
  .header-get-el-signature {
    font-size: 14px; }
  .navbar-default .navbar-toggle {
    border-color: #fff;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fff; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #ff8527; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-collapse.collapse.in,
  .navbar-collapse.collapsing {
    border: none;
    background-color: #000;
    margin-top: 9px;
    padding: 15px;
    padding-top: 0; }
    .navbar-collapse.collapse.in .nav > li,
    .navbar-collapse.collapsing .nav > li {
      border-bottom: 1px solid #1a1a1a; }
      .navbar-collapse.collapse.in .nav > li:hover a, .navbar-collapse.collapse.in .nav > li:focus a, .navbar-collapse.collapse.in .nav > li.open a,
      .navbar-collapse.collapsing .nav > li:hover a,
      .navbar-collapse.collapsing .nav > li:focus a,
      .navbar-collapse.collapsing .nav > li.open a {
        background-color: #1a1a1a;
        text-decoration: none; }
        .navbar-collapse.collapse.in .nav > li:hover a:active, .navbar-collapse.collapse.in .nav > li:focus a:active, .navbar-collapse.collapse.in .nav > li.open a:active,
        .navbar-collapse.collapsing .nav > li:hover a:active,
        .navbar-collapse.collapsing .nav > li:focus a:active,
        .navbar-collapse.collapsing .nav > li.open a:active {
          text-decoration: none; }
      .navbar-collapse.collapse.in .nav > li .dropdown-menu li a,
      .navbar-collapse.collapsing .nav > li .dropdown-menu li a {
        color: #ffffff; }
        .navbar-collapse.collapse.in .nav > li .dropdown-menu li a:hover,
        .navbar-collapse.collapsing .nav > li .dropdown-menu li a:hover {
          background-color: #000;
          color: #ffffff; }
  .dropdown-menu {
    padding: 0; }
  .owl-next {
    margin-left: 20px; }
  .owl-prev {
    margin-right: 20px; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text {
    width: 70%;
    margin: 0 auto;
    font-size: 20px; }
    .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text ul li {
      font-size: 16px; }
  .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text .info-link {
    padding-left: 30px; }
    .offer-slider-wrapper .carousel-inner .item .info-wrapper .info-block .info-text .info-link:before {
      left: 0; }
  footer .footer-menu .footer-menu-item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%; }
  .section-news .news-head .news-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .section-news .news-head .news-menu a {
      margin: 0;
      padding: 0 10px; }
  .section-news .row .new .new-title {
    white-space: normal; }
  .offer-slider-wrapper .controls-wrapper .controls a {
    width: 40px;
    height: 40px; }
  .offer-slider-wrapper .controls-wrapper .controls a:after {
    top: 9px;
    left: 7px; }
  .feedback-form {
    padding: 15px; }
  .services-heading--level-2:before {
    left: 0;
    width: 60px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .lk-link {
    text-decoration: none;
    font-size: 0; }
    .lk-link:before {
      top: -6px;
      width: 26px;
      height: 26px; }
  .table {
    display: block; }
    .table .table-head, .table .table-cell {
      max-width: 100%; }
  .table-cell--btn .btn {
    padding-left: 25px;
    padding-right: 25px; }
  footer .footer-left .footer-social {
    padding: 0; }
  .services-heading--level-2 {
    padding-left: 0; }
    .services-heading--level-2:before {
      display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 562px) {
  footer .footer-left .footer-social {
    margin-top: 15px; } }

@media only screen and (max-width: 420px) {
  footer .footer-left .footer-logo {
    margin-bottom: 10px; }
  footer .footer-left .footer-copy {
    padding: 0; }
  footer .footer-left .footer-social {
    margin-top: 0; } }
